{% include 'cabecalho2.html' %}
<!-- {% extends "doctrainingapp/html_base.html"
%} -->
{% block menu %}
{% endblock %}
{% block tudo %}

{% load i18n static %}

<div class="ui raised very text padded  container segment" style="margin-top: 1em;margin-bottom: 1em">
    <form method="post" class="ui form"  style="margin-top: 2em">{% csrf_token %}
    {% if form.errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}
            <b>{% trans "Please correct the error below." %} </b>
        {% else %}
            <b>{% trans "Please correct the errors below." %}</b>
        {% endif %}
        </p>
    {% endif %}
    Por favor, informe sua senha antiga, por segurança, e
    então informe sua nova senha duas vezes
    para que possamos verificar se você digitou corretamente </p>


    <div class="required field" style="max-width: 250px">
        <font color="red">{{ form.old_password.errors }}</font>
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
    </div>

    {% if form.new_password1.help_text %}
        <p class="help">{{ form.new_password1.help_text|safe }}</p>
    {% endif %}

    <div class="required field" style="max-width: 250px">
        <font color="red">{{ form.new_password1.errors }}</font>
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
    </div>

    <div class="required field" style="max-width: 250px">
        <font color="red">{{ form.new_password2.errors }}</font>
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
    </div>
    {% if form.new_password2.help_text %}
        <p class="help">{{ form.new_password2.help_text|safe }}</p>
    {% endif %}
    <input type="submit" class="ui button positive"  value="Alterar minha senha"/>

    </form>
</div>

{% endblock %}















</div>
</div>
<!-- Cabecalho -->
<div>
{% include 'rodape.html' %}
