{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- <link rel="shortcut icon" href="http://les.ufersa.edu.br/doctraining/web/images/logo2.png"> -->
  <link rel="shortcut icon" href="https://jesaias.000webhostapp.com/doctraining/imagens/logo_sem_fundo.png">


  <!-- Site Properties -->
  <title>DocTraining</title>
 <link rel="apple-touch-icon" sizes="194x194" href="http://les.ufersa.edu.br/doctraining/web/images/logo2.png" type="image/png" />


  <!-- <link rel="stylesheet" href="{%  static 'app/index.css' %}" /> -->

  <!--
  <link rel="stylesheet" type="text/css" href="{%  static 'app/semantic/semantic.min.css' %}" />
  <script src="{%  static 'app/js/jquery.js' %}"></script>
  <script src="{%  static 'app/semantic/semantic.min.js' %}" ></script>
  -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>



  <!-- <script src="{% static 'app/js/angular.min.js' %}"></script> da erro na pesquisa pois confunde o angular com python-->
  <!-- <script src="{% static 'app/js/ngStorage.js' %} "></script> -->


  {% include 'css.html' %}


</head>
<body ng-app="myApp" ng-controller="appCtrl">
  <!-- <div class="ui fixed inverted green menu"> -->
  <!--  <div class="ui fixed inverted blue menu">   nao responsivo-->
  <!-- <div class="ui inverted red menu stackable"> -->

  <div class="ui inverted teal menu masthead">

      <!--<div class="ui container font_menu secondary inverted pointing"  > -->
  <div class="ui container secondary inverted pointing font_menu"  >
        <a class="header item" href="{% url 'doctrainingapp:index' %}" >
          <!-- <img src="http://les.ufersa.edu.br/doctraining/web/images/logo2.png" class="ui image circular ajustar_imagem_em_cima"> -->
          DocTraining
        </a>

        <a class="toc item">  <i class="sidebar icon"></i>  </a>


  </div>

  <div class="ui vertical inverted teal sidebar menu left" style="">
    <a href="{% url 'doctrainingapp:index' %}" class="item">DocTraining</a>
  </div>

  </div>


<div class="corpo_app">


<!-- <div class="ui pointing menu">
  <a class="item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item active">
    Friends
  </a>
</div>
Teste
<div class="ui segment">
  <p></p>
</div> -->




<h1>API do DocTraining</h1>
<p></p>

<p>
  O DocTraining API é a principal forma para os aplicativos lerem os dados do DocTraining.<br />
  É baseada em HTTP, portanto funciona com qualquer linguagem que tenha uma biblioteca HTTP, como cURL e urllib, ou então por serviços, como o $http do AngularJS.<br />
  Todos as requisições são respondidas no formato <a href="https://www.json.org/">JSON</a> pela API.<br />
  Primeiro você precisa direcionar para URL do Servidor da API:
</p>





<a href="https://doctraining.herokuapp.com">https://doctraining.herokuapp.com</a>

<p></p>
<p>A seguir as requisições disponíveis na API do DocTraining:</p>

<!-- ####################################### JSON Todas as Salas ##################################################################### -->
        <div class="" style="padding-bottom: 4%;">

          <h2>Salas</h2>
          <p></p>
          <p>Para solicitar os nomes das salas disponíveis deve-se realizar uma solicitação pelo método <button class="ui blue button">GET</button> na URL:</p>
          <a href="{% url 'doctrainingapp:todos_salas_api' %}"> {% url 'doctrainingapp:todos_salas_api' %}</a>
          <p></p>
          <p>Se for bem-sucedida, essa chamada retornará uma lista com os id, nome da sala e quantidade de perguntas na sala .<br />
            A seguir um exemplo de resultado dessa requisição:
          </p>

          <div class="ui inverted segment ">
<pre>[
    {
        "id": 5,
        "sala_nome": "Perguntas Gerais",
        "quantidade_perguntas": 12
    },
    {
        "id": 7,
        "sala_nome": "Perguntas Covid-19",
        "quantidade_perguntas": 50
    },
    {
        "id": 10,
        "sala_nome": "Perguntas sobre Influenza",
        "quantidade_perguntas": 30
    }
]</pre>
          </div>
        </div>



<!-- ####################################### JSON Todas as Salas ##################################################################### -->
        <div class="" style="padding-bottom: 4%;">

          <h2>Perguntas de uma Sala</h2>
          <p></p>
          <p>Para solicitar as perguntas de uma sala deve-se realizar uma solicitação pelo método <button class="ui blue button">GET</button>  usando o id da sala na URL:</p>
          <!-- <a href="{% url 'doctrainingapp:
          perguntas_de_uma_sala_api' %}"> {% url 'doctrainingapp:
          perguntas_de_uma_sala_api' %}</a> -->
          <a href="#"> api/salas/< int:pk_sala>/perguntas/</a>
          <p></p>
          <p>Se for bem-sucedida, essa chamada retornará uma lista com os id, pergunta, questão correta, questão incorreta 1, questão incorreta 2 e questão incorreta 3 da sala, seguindo a mesma ordem no JSON.<br />
            A seguir um exemplo de resultado dessa requisição:
          </p>

          <div class="ui inverted segment ">
<pre>[
    {
        "id": 14,
        "mainQuestion": "Fazem parte do quadro clínico de leptospirose em sua fase precoce (de 3 a 7 dias), EXCETO:",
        "rightOp": "Icterícia",
        "wrongOp01": "Exantema",
        "wrongOp02": "Cefaleia",
        "wrongOp03": "Náusea e vômitos"
    },
    {
        "id": 18,
        "mainQuestion": "O período de incubação da dengue é de:",
        "rightOp": "7 a 10 dias.",
        "wrongOp01": "14 a 18 dias.",
        "wrongOp02": "20 a 25 dias.",
        "wrongOp03": "28 a 30 dias."
    },
    {
        "id": 64,
        "mainQuestion": "São sinais de alarme da dengue:",
        "rightOp": "Lipotimia, hepatomegalia dolorosa e desconforto respiratório.",
        "wrongOp01": "Vômitos, esplenomegalia e aumento repentino do hematócrito.",
        "wrongOp02": "Cefaleia, dor abdominal contínua, diminuição do hematócrito.",
        "wrongOp03": "Dor retro-orbitária, queda abrupta das plaquetas e hematêmese."
    }
]</pre>
          </div>
        </div>




<!-- ####################################### JSON Todas as Doenças ##################################################################### -->
        <div class="" style="padding-bottom: 4%;">

          <h2>Amostras de Doenças</h2>
          <p></p>
          <p>Para solicitar os nomes das doenças disponíveis nas amostras deve-se realizar uma solicitação pelo método <button class="ui blue button">GET</button> na URL:</p>
          <a href="{% url 'doctrainingapp:nome_doencas_casos_clinicos_api' %}"> {% url 'doctrainingapp:nome_doencas_casos_clinicos_api' %}</a>
          <p></p>
          <p>Se for bem-sucedida, essa chamada retornará uma lista com os id's e nomes das Doenças disponíveis nas amostras.<br />
            A seguir um exemplo de resultado dessa requisição:
          </p>

          <div class="ui inverted segment ">
<pre>[
    {
        "id": 5,
        "doenca": "ACTINOMICOSE"
    },
    {
        "id": 1,
        "doenca": "AMEBIASE"
    },
    {
        "id": 33,
        "doenca": "ANEMIA"
    },
    {
        "id": 11,
        "doenca": "APENDICITE"
    },
    {
        "id": 38,
        "doenca": "INFECÇÃO URINARIA"
    },
    {
        "id": 34,
        "doenca": "SARAMPO"
    }
]</pre>
          </div>
        </div>

        <!-- ####################################### JSON Todas as Doenças ##################################################################### -->
        <div class="" style="padding-bottom: 4%;">

            <h2>Amostras de Sintomas</h2>
            <p></p>
            <p>Para solicitar todos os sintomas disponíveis nas amostras deve-se realizar uma solicitação pelo método <button class="ui blue button">GET</button> na URL:</p>
            <a href="{% url 'doctrainingapp:nome_sintomas_casos_clinicos_api' %}">{% url 'doctrainingapp:nome_sintomas_casos_clinicos_api' %}</a>
            <p></p>
            <p>Se for bem-sucedida, essa chamada retornará uma lista com todos o id's e simtomas disponíveis nas amostras.<br />
              A seguir um exemplo de resultado dessa requisição:
            </p>

            <div class="ui inverted segment ">
<pre>[
    {
        "id": 3,
        "sintoma": "ASTEMIA"
    },
    {
        "id": 45,
        "sintoma": "DOR GARGANTA"
    },
    {
        "id": 91,
        "sintoma": "INFLAMACAO NASAL"
    },
    {
        "id": 21,
        "sintoma": "NAUSEA"
    },
    {
        "id": 11,
        "sintoma": "VOMITOS"
    }
]</pre>
          </div>
        </div>




<!-- ####################################### JSON Amostra de Doença ##################################################################### -->
        <div class="" style="padding-bottom: 4%;">

          <h2>Amostra de Doença e Sintomas</h2>
          <p></p>
          <p>Para solicitar uma amostra aleatória de uma doença e seus sintomas deve-se realizar uma solicitação pelo método <button class="ui blue button">GET</button> na URL:</p>
          <a href="{% url 'doctrainingapp:um_caso_clinico_doenca_sintomas_api' %}">{% url 'doctrainingapp:um_caso_clinico_doenca_sintomas_api' %}</a>
          <p></p>
          <p>Se for bem-sucedida, essa chamada retornará id, nome da Doença e uma lista de sintomas.<br />
            A seguir um exemplo de resultado dessa requisição:
          </p>

          <div class="ui inverted segment ">
<pre>{
    "id": 159,
    "doenca": "CONJUNTIVITE",
    "sintomas": [
        "ARDÊNCIA NOS OLHOS",
        "SENSAÇÃO ALGO NOS OLHOS",
        "LACRIMAÇÃO",
        "SECREÇÃO TRANSPARENTE NOS OLHOS",
        "OLHOS VERMELHOS"
    ]
}</pre>
          </div>
        </div>

    <!-- ####################################### JSON Todas as Amostras de Doenças ##################################################################### -->
        <div class="" style="padding-bottom: 4%;">

          <h2>Amostras de Todas as Doenças e Sintomas</h2>
          <p></p>
          <p>Para solicitar todas as amostras das doenças e seus sintomas deve-se realizar uma solicitação pelo método <button class="ui blue button">GET</button> na URL:</p>
          <a href="{% url 'doctrainingapp:todos_casos_clinicos_doencas_sintomas_api' %}">{% url 'doctrainingapp:todos_casos_clinicos_doencas_sintomas_api' %}</a>
           <a href="/api/casos_clinicos/todos/">/api/casos_clinicos/todos/</a>
          <p></p>
          <p>Se for bem-sucedida, essa chamada retornará uma lista no formato de id, nome da Doença e lista de sintomas.<br />
            Note que algumas doenças irão se repetir, mas com sintomas distintos.<br />
            A seguir um exemplo de resultado dessa requisição:
          </p>

          <div class="ui inverted segment ">
<pre>[
  {
      "id": 159,
      "doenca": "CONJUNTIVITE",
      "sintomas": [
          "ARDÊNCIA NOS OLHOS",
          "SENSAÇÃO ALGO NOS OLHOS",
          "LACRIMAÇÃO",
          "SECREÇÃO TRANSPARENTE NOS OLHOS",
          "OLHOS VERMELHOS"
      ]
  },
  {
      "id": 112,
      "doenca": "SARAMPO",
      "sintomas": [
          "TOSSE EXPECTORACAO",
          "FEBRE ALTA",
          "FEBRE CONTINUA",
          "DOR GARGANTA",
          "INFLAMACAO GARGANTA",
          "DIFICULDADE ENGOLIR",
          "MAL ESTAR",
          "INFLAMACAO NASAL",
          "INFECÇÃO GARGANTA",
          "INFECÇÃO NASAL",
          "AVERSÃO LUZ",
          "PONTOS BRANCO BOCHECHA"
      ]
  },
  {
      "id": 95,
      "doenca": "INFECÇÃO URINARIA",
      "sintomas": [
          "ARDENCIA URINAR",
          "SANGUE NA URINA",
          "NECESSIDADE URGENTE URINAR",
          "URINA ESCURA",
          "URINA COM CHEIRO FORTE",
          "AUMENTO DA FREQUENCIA DE MICÇÕES"
      ]
  },
  {
      "id": 28,
      "doenca": "CONJUNTIVITE",
      "sintomas": [
          "ARDÊNCIA NOS OLHOS",
          "SENSAÇÃO ALGO NOS OLHOS",
          "LACRIMAÇÃO",
          "SECRAÇÃO AMARELA NOS OLHOS",
          "OLHOS VERMELHOS"
      ]
  }
]</pre>

          </div>

        </div>





</div>

{% include 'rodape.html' %}
