{% include 'cabecalho2.html' %}

<h1>
  Areas
</h1>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <font color="green">{{ message }}</font>
                    {% elif message.tags == 'error' %}
                        <font color="red">{{ message }}</font>
                    {% else %}
                        <!-- warning -->
                        <font color="blue">{{ message }}</font>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endif %}


<a href="" class="ui button positive" > Nova Area </a>


<p></p>
<!-- <div style="overflow: auto; width: 100%; height: 500px; border:solid 1px; position: relative;"> -->
  <!-- <table class="ui celled striped table"> -->
<div class="dimmable">

  <table id="example" class="ui celled table" style="width:100%">
    <thead>
      <tr>
        <!-- Colunas da tabela -->
        <th>Area</th>
        <th>SubAreas</th>
        <!-- colunas da tabela -->
        <th></th>

        <!-- <th></th> -->
        <!-- <th colspan="3"> </th> -->
      </tr>
    </thead>

  <!--  Opções em cima da tabela-->

    <tbody>
      {% for area in areas  %}
            <tr>
              <td><b> {{area.nome}} </b></td>
                <td> {% for x in area.salas.all %}
                    <li>{{x.nome_sala}}</li> {% endfor %}</td>
              <td>

                      <a href="{% url 'doctrainingapp:salas_area' area.pk %}" class="ui blue button" > Visualizar   <i class="folder open icon"></i> </a>

              </td>



            </tr>
      {% endfor %}

    </tbody>
  </table>

</div>













</div>

</div>
<!-- Cabecalho -->

<div>



{% include 'rodape.html' %}