{% include 'cabecalho2.html' %}

<h1>
  Área de Casos Clínicos
</h1>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <font color="green">{{ message }}</font>
                    {% elif message.tags == 'error' %}
                        <font color="red">{{ message }}</font>
                    {% else %}
                        <!-- warning -->
                        <font color="blue">{{ message }}</font>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endif %}


<a href="{% url 'doctrainingapp:area_fase_add' %}" class="ui button positive" > Nova Área de Casos Clínicos</a>
<p>Em Casos Clínicos você pode adicionar novas perguntas para um determinado problema clínico, os problemas são divididos por áreas de Caso Clínico.</p>

<p></p>
<!-- <div style="overflow: auto; width: 100%; height: 500px; border:solid 1px; position: relative;"> -->
  <!-- <table class="ui celled striped table"> -->

  <table id="example" class="ui celled table" style="width:100%">
    <thead>
      <tr>
        <!-- Colunas da tabela -->
        <th>Área de Casos Clínicos</th>
          <th>Casos Clínicos</th>
         <th>Edição</th>
          <th>Deletar</th>
        <!-- colunas da tabela -->

        <!-- <th></th> -->
        <!-- <th colspan="3"> </th> -->
      </tr>
    </thead>

  <!--  Opções em cima da tabela-->

    <tbody>
      {% for area in areas  %}
            <tr>
              <td><b> {{area.nome}} </b></td>
                <td>
                      <a href="{% url 'doctrainingapp:area_fases' area.pk %}" >   Caso Clínico  <i class="edit outline icon"></i> </a>


              </td>

              <td>
                      <a href="{% url 'doctrainingapp:area_fase_edit' area.pk %}" >   Editar <i class="edit outline icon"></i> </a>


              </td>
                <td>
                    <a href="{% url 'doctrainingapp:area_fase_delete' area.pk %}" >   Excluir <i class=></i> </a>
                </td>
              <!-- <td>
                  {% if request.user.pk == sala.responsavel_sala.pk or request.user.is_staff%}
                      <a href="" class="ui red button" >   Deletar </a>
                  {% endif %}
              </td> -->


            </tr>
      {% endfor %}

    </tbody>
  </table>

</div>













</div>

</div>
<!-- Cabecalho -->

<div>



{% include 'rodape.html' %}
