{% include 'cabecalho2.html' %}


<h1>Conteúdo</h1>
<p></p>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <font color="green">{{ message }}</font>
                    {% elif message.tags == 'error' %}
                        <font color="red">{{ message }}</font>
                    {% else %}
                        <!-- warning -->
                        <font color="blue">{{ message }}</font>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endif %}


<p></p>
<!-- <div style="overflow: auto; width: 100%; height: 500px; border:solid 1px; position: relative;"> -->
  <!-- <table class="ui celled striped table"> -->
<div class="ui items">

  <div class="item">
      <div class="item">
    <div class="content">
      <h2 class="header">{{conteudo.titulo}}</h2>
      <div class="meta">
        <span>{{conteudo.descricao}}</span>
      </div>
      <div class="paragraph">
        <p>{{conteudo.conteudo}}</p>
      </div>
      <div class="extra">
          <hr><p>{{conteudo.referencia}}</p></hr>
      </div>
        <div class="extra">
            <a href="{{conteudo.link}}" target="_blank"> {{conteudo.link}}</a>
      </div>
    </div>
  </div>

</div>
{% if conteudo.imagem1 %}
<img class="ui large image" src="{{conteudo.imagem1.url}}">
    <p></p>
    {% elif conteudo.imagem2 %}
    <img class="ui large image" src="{{conteudo.imagem2.url}}">
    <p></p>
    {% elif conteudo.imagem3 %}
    <img class="ui large image" src="{{conteudo.imagem3.url}}">
</div>
{%endif%}












</div>

</div>
<!-- Cabecalho -->

<div>



{% include 'rodape.html' %}