{% include 'cabecalho2.html' %}


<form action="" class="ui text container" style="text-align: center;margin-top: 2em;" method="post">{% csrf_token %}
    <h2>Tem certeza que Deseja Excluir {{object.titulo}}?</h2>

    {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.tags == 'success' %}
                            <font color="green">{{ message }}</font>
                        {% elif message.tags == 'error' %}
                            <font color="red">{{ message }}</font>
                        {% else %}
                            <!-- warning -->
                            <font color="">{{ message }}</font>
                        {% endif %}
                    </li>
                {% endfor %}
        </ul>
    {% endif %}

    <!-- <h3>Todos os dados serão excluidos! </h3> -->
    <button type="submit" class="ui red button" >Confirmar</button>
    <a href="javascript:window.history.go(-1)" class="ui  button" >Cancelar</a>
</form>