{% include 'cabecalho2.html' %}

<script language="Javascript">
	function confirmExclusao(id) {
		if (confirm("Tem certeza que deseja solicitar a exclusão desse dado?")) {
			location.href="/doctraining/casos_clinicos/solicitar/delete/"+id;

		}
	}
</script>


<h1>
	Dados Firebase
</h1>

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
	{% if message.tags == 'success' %}
	<font color="green">{{ message }}</font>
	{% elif message.tags == 'error' %}
	<font color="red">{{ message }}</font>
	{% else %}
	<!-- warning -->
	<font color="blue">{{ message }}</font>
	{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}


<p></p>
<h3>Dados dos usuários do Doctraining APP</h3>
<p></p>
<!-- <div style="overflow: auto; border:solid 1px;""> -->
	<!-- <div style="overflow: auto; width: 1340px"> -->

		<p></p>

		<!-- <div style="overflow: auto; width: 100%; height: 500px; border:solid 1px; position: relative;"> -->
			<!-- <div style="overflow: auto; width: 100%; height: 500px; position: relative;"> -->
				<div class="dimmable">
					<div class="ui active inverted dimmer">
						<div class="ui active centered inline loader"></div>
						Carregando
					</div>
					<table id="example" class="ui celled table" style="width:100%">
						<!-- <table class="ui striped table"> -->
							<thead>
								<tr>
									<th>Id Avatar</th>
									<th>Email</th>
									<th>Rec. Hospital</th>
									<th>Nº Logins</th>
									<th>Nome</th>
									<th>Tempo Total (seg)</th>
									<th>Tempo médio (seg)</th>
									<th>Tempo Casos Clínicos (seg)</th>
									<th>Tempo Hospital (seg)</th>
									<th>Tempo Questões (seg)</th>
									<th>Nº Questões certas</th>
									<th>Nº Questões erradas</th>
									<th>XP</th>
								</tr>
							</thead>

							<!--  Opções em cima da tabela-->

							<tbody>
								<!-- <tr><td>Dados</td></tr> -->
								
								{% for key, value in snapshot.items %}
								<tr>
									<td>{{ value.avatarId}}</td>
									<td>{{ value.email}}</td>
									<td>{{ value.hospital_rec}}</td>
									<td>{{ value.loginCount}}</td>
									<td>{{ value.name}}</td>
									<td>{{ value.totalTime | default:"0" | floatformat:2}}</td>
									<td>{{ value.avgTime | default:"0" | floatformat:2}}</td>
									<td>{{ value.timeClinicalCase | default:"0" | floatformat:2}}</td>
									<td>{{ value.timeHospital | default:"0" | floatformat:2}}</td>
									<td>{{ value.timeVirtualClass | default:"0" | floatformat:2}}</td>
									<td>{{ value.totalQuestionRight}}</td>
									<td>{{ value.totalQuestionsFail}}</td>
									<td>{{ value.xp}}</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Id Avatar</th>
									<th>Email</th>
									<th>Rec. Hospital</th>
									<th>Nº Logins</th>
									<th>Nome</th>
									<th>Tempo Total (seg)</th>
									<th>Tempo médio (seg)</th>
									<th>Tempo Casos Clínicos (seg)</th>
									<th>Tempo Hospital (seg)</th>
									<th>Tempo Questões (seg)</th>
									<th>Nº Questões certas</th>
									<th>Nº Questões erradas</th>
									<th>XP</th>
								</tr>
							</tfoot>
						</table>

					</div>



				</div>

			</div>
			<!-- Cabecalho -->

			<div>



				{% include 'rodape.html' %}
