{% include 'cabecalho2.html' %}

<h1>
  DocTraining
</h1>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <font color="green">{{ message }}</font>
                    {% elif message.tags == 'error' %}
                        <font color="red">{{ message }}</font>
                    {% else %}
                        <!-- warning -->
                        <font color="blue">{{ message }}</font>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endif %}







<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3 id="titulo"> Bem-Vindo {{usuario.username}}</h3>
        <!-- <p id="texto"> </p> -->
        <!-- <p>A partir de uma visão computacional, o problema está em criar uma Inteligência Artificial que retorne uma ou mais soluções no menor tempo possível, visto a grande quantidade de sintomas e doenças existentes.</p> -->
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
                  <h2 class="ui icon header">
                       <i class="mobile alternate icon"></i>
                       <div class="content">
                         Jogo Mobile
                         <div class="sub header">Jogo Mobile disponível para smartphones em 2D baseado em atendimento clínico com elementos de gamificação como Pontuação, Nível de Experiência, Ranking, Conquistas e Itens Colecionáveis.</div>
                       </div>
                       <!-- >O Ambiente 2D faz com que o usuário perceba por meio de um ou mais sentidos uma simulação interativa -->
                 </h2>
        </div>
      <div class="column">
        <!-- <h3>APRENDIZADO DE MÁQUINA</h3> -->
         <!-- <p> <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> O Aprendizado de Máquina é um sub-campo da inteligência artificial dedicado ao desenvolvimento de algoritmos e técnicas que permitam ao computador aprender, isto é, que permitam ao computador aperfeiçoar seu desempenho em alguma tarefa.</p> -->
                 <h2 class="ui icon header">
                      <i class="settings icon"></i>
                      <div class="content">
                        Aprendizado de Máquina
                        <div class="sub header">O Aprendizado de Máquina é uma subárea de pesquisa muito importante da Inteligência Artificial, com uma importante característica para o comportamento de inteligência, que são as capacidades de aprender, generalizar, extrair padrões ou características dos dados.</div>
                      </div>
                      <!-- mobile alternate icon -->
                </h2>
      </div>
    </div>
  </div>
</div>








</div>

</div>
<!-- Cabecalho -->

<div>



{% include 'rodape.html' %}
