<div id="some-id" class="column">
  <h3>Problemática</h3>
  <p>Dados do Conselho Regional de Medicina do Estado de São Paulo afirmam que o há grade desconhecimento de casos clínicos, diabetes mellitu e infarto no miocárdio por estudantes de medicina.</p>
  <!-- <p>A partir de uma visão computacional, o problema está em criar uma Inteligência Artificial que retorne uma ou mais soluções no menor tempo possível, visto a grande quantidade de sintomas e doenças existentes.</p> -->
</div>
<div class="column">
  <h3>Motivação</h3>
  <!-- <p>Dados do Superior Tribunal de Justiça do Brasil afirmam que o número de denúncias por erros médicos vem aumentando desde 2011.</p> -->
  <p>Uma das vantagens da simulação virtual é que o treinamento pode ser realizado com uma duração fixa e um determinado número de casos, como também pode ser controlada por níveis de competência do usuário.
    Os Jogos para área da medicina apresentam a inexistência de riscos aos pacientes e estudantes, além de aumentar a precisão do aluno, e possibilitar repetição de treinamento.</p>
</div>
<div class="column">
  <h3>Objetivo</h3>
   <!-- <p> <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Desenvolver um sistema capaz de simular o diagnóstico de doenças através de consultas médicas em um ambiente 2D.</p> -->
   <p> <!-- <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> --> Desenvolver um sistema capaz de simular o diagnóstico de doenças através de consultas médicas em um ambiente 2D.</p>
</div>
