{% include 'cabecalho2.html' %}

<h1>
  Hospital
</h1>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <font color="green">{{ message }}</font>
                    {% elif message.tags == 'error' %}
                        <font color="red">{{ message }}</font>
                    {% else %}
                        <!-- warning -->
                        <font color="blue">{{ message }}</font>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endif %}


<p></p>
<h3>Histórico de Alteração de Amostras de Doenças</h3>
<p></p>
<!-- <div style="overflow: auto; border:solid 1px;""> -->
<!-- <div style="overflow: auto; width: 1340px"> -->

<p></p>
<!-- <div style="overflow: auto; width: 100%; height: 500px; border:solid 1px; position: relative;"> -->
  <!-- <table class="ui celled striped table"> -->
<div class="dimmable">
    <div class="ui active inverted dimmer">
      <div class="ui active centered inline loader"></div>
      Carregando
    </div>
<table id="example" class="ui celled table" style="width:100%">
    <thead>
      <tr>
        <!-- Colunas da tabela -->
        <!-- <th>Data Atualização</th>  -->
        <th>Solicitante</th>
        <th>Data Solicitação</th>
        <th>Tipo</th>
        <th>Doença</th>
        <th>Sintoma(s)</th>
        <th>Nova Doença</th>
        <th>Novo(s) Sintoma(s)</th>
        <th>Data Atualização</th>
        <th>Ação</th>
        {%if request.user.is_staff %}
            <th>Avaliado por</th>
        {% endif %}
        <!-- colunas da tabela -->
      </tr>
    </thead>
    <tbody>
      {% for log in logs  %}
            <tr>
              <!-- <td> <b>{{log.data_alteracao}}</b> </td> -->
              <td> {{log.solicitante}} </td>
              <td> {{log.data_solicitacao}} </td>
              <!-- <td> <b class="ui {{log.cor_DEF
            }} label">{{log.tipo_alteracao_DEF
          }} </b> </td> -->
              <td> <b class="ui {{log.cor_DEF}} label">{{log.aux_tipo_alteracao}} </b> </td>
              <td> {{log.doenca}}  </td>
              <td> {{log.sintomas}} </td>
              <td> {{log.nova_doenca}} </td>
              <td> {{log.novos_sintomas}} </td>
              <td> <b>{{log.data_alteracao}}</b> </td>
              <td> <b class="ui {{log.cor_acao_DEF}} label">{{log.acaoDEF}} </b> </td>
              {%if request.user.is_staff %}
                  <td>{{log.avaliador}} </td>
              {% endif %}
            </tr>
      {% endfor %}

    </tbody>
  </table>

</div>













</div>

</div>
<!-- Cabecalho -->

<div>



{% include 'rodape.html' %}
