{% load static %}

<a class="toc item">  <i class="sidebar icon"></i>  </a>

{%if request.user.is_authenticated %}
    <a class="item" href="{% url 'doctrainingapp:todas_salas' %}">Salas</a>
    <a class="item" href="{% url 'doctrainingapp:list-conteudo' %}">Conteudos</a>

    <a class="item" href="{% url 'doctrainingapp:casos_clinicos' %}">Amostras de Doenças</a><!-- colocar link -->
    <!-- <div class="ui simple dropdown item">
      Amostras de Doenças <i class="dropdown "></i>
      <div class="menu">
        <a class="item" href="{% url 'doctrainingapp:casos_clinicos' %}">Casos Clínicos</a>
        <a class="item" href="#">Diabetes</a>
        <a class="item" href="#">Doença cardíaca</a>
      </div>
    </div> -->


    <!-- <div class="ui simple dropdown item">
      Pacientes Virtuais <i class="dropdown "></i>
      <div class="menu">
        <a class="item" href="#">Casos Clínicos</a>
        <a class="item" href="#">Diabetes</a>
        <a class="item" href="#">Doença cardíaca</a>
      </div>
    </div> -->
    <!-- se membro da aquipe ou adm, mesmo sem todos poderes no adm django -->
    {%if request.user.is_staff %}
            <a href="{% url 'doctrainingapp:solicitacoes_alteracao_casos_clinicos' %}" class="item">Solicitações</a>
            <a href="{% url 'doctrainingapp:log_solicitacoes_alteracao_casos_clinicos' %}" class="item">Histórico </a>
            <a href="{% url 'doctrainingapp:usuarios' %}" class="item">Usuários </a>
            <a href="{% url 'doctrainingapp:lista-versao' %}" class="item">Versões </a>
    {% else %}
            <a href="{% url 'doctrainingapp:solicitacoes_alteracao_casos_clinicos' %}" class="item">Minhas Solicitações</a>
            <a href="{% url 'doctrainingapp:log_solicitacoes_alteracao_casos_clinicos' %}" class="item">Meu Histórico </a>
    {% endif %}

    {%if request.user.is_superuser %}
        <div class="ui simple dropdown item">

                  <i class="settings icon"></i>Aprendizado de Máquina<i class="dropdown"></i>

          <div class="menu">
            <a class="item" href="{% url 'doctrainingapp:status_am' %}">Status do AM</a>
            <a class="item" href="{% url 'doctrainingapp:ativar_am' %}">Ativar AM</a>
            <!-- <a class="item" href="{% url 'doctrainingapp:desativar_am'
            %}">Desativar AM </a> -->
            <a class="item" href="{% url 'doctrainingapp:am_agora' %}">Rodar Classificação AM</a>
          </div>
        </div>
    {% endif %}


    <!-- <a href="#" class="item">Amostras de Doenças</a>

    <a href="#" class="item">Pacientes Virtuais</a> -->

    <!-- <a href="{% url 'doctrainingapp:index' %}" class="item">Sair</a> -->

    <div class="ui simple dropdown item right">

              <i class="user md icon"></i> {{request.user.username}} <i class="dropdown"></i>

      <div class="menu">
        <!-- {%if request.user.is_staff %}
              <a href="{% url 'doctrainingapp:user_create' %}" class="item">Novo Usuário </a>
        {%endif%} -->
        <a class="item" href="{% url 'doctrainingapp:perfil_update' request.user.perfil.pk %}">Meu Perfil </a>
        <a class="item" href="{% url 'doctrainingapp:user_update' request.user.pk %}">Minhas Informações</a>
        <a class="item" href="{% url 'password_change' %}">Alterar Senha</a>

        <a class="item" href="{% url 'doctrainingapp:logout' %}">Sair</a>
      </div>
    </div>

{% endif %}
