{% load staticfiles %}


<div id="quem_somos" class="ui inverted teal vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">

        <div class="three wide column">
          <!-- <h4 class="ui inverted header">Equipe DocTraining</h4> -->
          <div class="ui inverted link list">
            <a class="item"> <b>Programadores</b> </a>
            <a href="http://lattes.cnpq.br/4068957569470459" class="item">Jesaías Carvalho Pereira Silva</a>
            <a href="http://lattes.cnpq.br/2916807934853247" class="item">Everton Jales de Oliveira</a>
            <a class="item"> <b>Designer</b> </a>
            <a href="http://lattes.cnpq.br/5964774600350653" class="item">Willyane Fonseca da Anunciação</a>


          </div>
        </div>

         <div class="three wide column">
          <!-- <h4 class="ui inverted header">Group 2</h4> -->
          <div class="ui inverted link list">
            <a class="item"> <b>Cooperação</b> </a>
            <a href="http://lattes.cnpq.br/5725021666916341" class="item">Francisco Milton Mendes Neto</a>
            <a href="http://lattes.cnpq.br/8059198436766378" class="item">Araken de Medeiros Santos</a>
            <a href="http://lattes.cnpq.br/7054573122944045" class="item">Bruno de Sousa Monteiro</a>
            <a href="http://lattes.cnpq.br/3295242982378662" class="item">Ademar França de Sousa Neto</a>
            <a href="http://lattes.cnpq.br/5813988486658100" class="item">Rodrigo Monteiro de Lima</a>

            <!-- <a href="#" class="item">Rodrigo</a>
            <a href="#" class="item">Ademar</a> -->
          </div>
        </div>

        <!--<div class="three wide column">
          <h4 class="ui inverted header">Group 3</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div> -->

        <div class="seven wide column">
          <h4 class="ui inverted header">&copy; 2019 Equipe DocTraining</h4>
          <!-- <p>Extra space for a call to action inside the footer that could help re-engage users.</p> -->
        </div>
      </div>

      <div class="ui inverted section divider"></div>
      <!-- <img src="http://les.ufersa.edu.br/doctraining/web/images/logo2.png" class="ui centered image"> <!-- mini -->
      <img src="https://jesaias.000webhostapp.com/doctraining/imagens/logo_doctraining.jpeg" class="ui centered image"> <!-- mini -->
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Contato</a>
        <!-- <a class="item" href="#">Contact Us</a> -->
        <!-- <a class="item" href="#">Terms and Conditions</a> -->
        <a class="item" href="{% url 'doctrainingapp:api' %}">API DocTraining</a>
      </div>
    </div>
  </div>




<!-- <div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Sitemap</a>
          <a href="#" class="item">Contact Us</a>
          <a href="#" class="item">Religious Ceremonies</a>
          <a href="#" class="item">Gazebo Plans</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Banana Pre-Order</a>
          <a href="#" class="item">DNA FAQ</a>
          <a href="#" class="item">How To Access</a>
          <a href="#" class="item">Favorite X-Men</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Footer Header</h4>
        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
      </div>
    </div>
  </div>
</div> -->

</div>


</body>

</html>
