{% include 'cabecalho2.html' %}

<h1>
  Salas
</h1>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <font color="green">{{ message }}</font>
                    {% elif message.tags == 'error' %}
                        <font color="red">{{ message }}</font>
                    {% else %}
                        <!-- warning -->
                        <font color="blue">{{ message }}</font>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endif %}


<a href="{% url 'doctrainingapp:nova_sala' pk_area%}" class="ui button positive" > Nova Sala </a>


<p></p>
<!-- <div style="overflow: auto; width: 100%; height: 500px; border:solid 1px; position: relative;"> -->
  <!-- <table class="ui celled striped table"> -->
<div class="dimmable">

  <table id="example" class="ui celled table" style="width:100%">
    <thead>
      <tr>
        <!-- Colunas da tabela -->
        <th>Area</th>
        <th>Sala</th>
        <th>Descrição</th>
        <th>Quantidade Pergunta(s)</th>
        <th>Criado por</th>
        <th>Data Abertura</th>
        <!-- colunas da tabela -->
        <th></th>
        <th></th>
        <!-- <th></th> -->
        <!-- <th colspan="3"> </th> -->
      </tr>
    </thead>

  <!--  Opções em cima da tabela-->

    <tbody>
      {% for sala in salas  %}
            <tr>
              <td><b> {{sala.area}} </b></td>
              <td><b> {{sala.nome_sala}} </b></td>
              {% if sala.descricao  %}
                    <td> {{sala.descricao_limitado}}...</td>
              {% else %}
                    <td>  </td>
               {% endif %}
              <td> {{sala.quantidade_perguntas}} Pergunta(s)</td>
              <td> {{sala.responsavel_sala}} </td>
              <td> {{sala.data_criacao}} </td>
              <td>

                  {% if request.user.pk == sala.responsavel_sala.pk or request.user.is_staff %}
                      <a href="{% url 'doctrainingapp:todas_perguntas' sala.pk  %}" class="ui blue button" > Visualizar   <i class="folder open icon"></i> </a>
                  {% endif %}
              </td>
              <td>
                  {% if request.user.pk == sala.responsavel_sala.pk %}
                      <a href="{% url 'doctrainingapp:editar_sala' sala.pk  %}" class="ui button" >   Editar <i class="edit outline icon"></i> </a>
                  {% endif %}
              </td>
              <!-- <td>
                  {% if request.user.pk == sala.responsavel_sala.pk or request.user.is_staff%}
                      <a href="{% url 'doctrainingapp:delete_sala' sala.pk  %}" class="ui red button" >   Deletar </a>
                  {% endif %}
              </td> -->


            </tr>
      {% endfor %}

    </tbody>
  </table>

</div>













</div>

</div>
<!-- Cabecalho -->

<div>



{% include 'rodape.html' %}
