{% include 'cabecalho2.html' %}




<h1>
  Hospital
</h1>

<script>

</script>

<p></p>
<h3>Solicitar cadastro de amostra de doença</h3>
<p></p>


{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <font color="green">{{ message }}</font>
                    {% elif message.tags == 'error' %}
                        <font color="red">{{ message }}</font>
                    {% else %}
                        <!-- warning -->
                        <font color="blue">{{ message }}</font>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endif %}



<form class="ui form" action="" method="post">{% csrf_token %}

    <!-- <div class="field">
        <label for="id_doenca">Doença:</label>
          <select name="doenca" id="id_doenca" required="">
            <option value="{{nome_doenca}}" selected >{{nome_doenca}}</option>
            {% for item in doencas.doenca  %}
              <option value="{{item}}">{{item}}</option>
            {% endfor %}
          </select>
    </div> -->

    <div class="field">
        <label for="id_doenca">Doença:</label>
          <select name="doenca" id="id_doenca" required="" class="ui">
            <!-- <option value="0" selected>Classificação Automática []</option> -->
            <option value="0" selected>Sem Classificação</option>
            {% for doenca in doencas  %}
                  <option value="{{doenca.pk}}">{{doenca}}</option>
            {% endfor %}
          </select>
    </div>



<!-- caso_clinico -->
    <p></p>
    <p>Sintomas:</p>
    <div class="ui segment">
      <div class="ui four column very relaxed grid">
        {% for sintoma in sintomas  %}

                  <div class="column">
                      <div class="ui checked checkbox">
                        <input type="checkbox" name="{{sintoma}}">
                        <label>{{sintoma}}</label>
                      </div>
                  </div>

        {% endfor %}
      </div>
    </div>

 <input type="submit" value="Salvar" class="ui button green" />
 </form>


</div>

</div>
<!-- Cabecalho -->

<div>



{% include 'rodape.html' %}
