
{% include 'cabecalho2.html' %}


<h2>Upload CSV - Area</h2>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <font color="green">{{ message }}</font>
                    {% elif message.tags == 'error' %}
                        <font color="red">{{ message }}</font>
                    {% else %}
                        <!-- warning -->
                        <font color="">{{ message }}</font>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endif %}






    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a zip file</label>
        <input type="file" id="file1" name="file">
        <div>
        <small>Somente arquivos ZIP </small>
        </div>
        <button type="submit">Upload</button>
    </form>





</div>

</div>
<!-- Cabecalho -->

<div>



{% include 'rodape.html' %}
